:host {
  ::ng-deep
  .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      height: 0px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }

    &:hover {
      &::-webkit-scrollbar {
        height: 4px;
      }
    }
  }

  ::ng-deep
  .nav-tabs .nav-link {
    white-space: nowrap;
  }

  ::ng-deep
  tab {
    height: calc(100vh - 150px);
    overflow: auto !important;
    border: 1px solid #dee2e6;
    border-top: 0 !important;
  }
}
