<h4 class="border-bottom pb-3 mb-0">Dashboard</h4>
<div class="row mb-5">
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Contact Details</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Exercises</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Interviews</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Attendance</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Fees</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
